[submodule "dscucdavis"]
	path = dscucdavis
	url = https://github.com/dscucdavis/dscucdavis
[submodule "raytracing"]
	path = raytracing
	url = https://github.com/parthshah01/raytracing
[submodule "neuble"]
	path = neuble
	url = https://github.com/parthshah01/neubleweb
